<div class="container">
	<div class="row">
		<h2 class="col-10 mt-5 mx-auto">商品一覧</h2>
			<div class="text-right col-2 mt-5 mx-auto">
			  <%= link_to new_admin_item_path do %>
			  <button type="button" class="btn btn-success btn-success btn-circle, border-radius: 50%">＋</button>
				<% end %>
			</div>
		</div>
  </div>
  <div clss=row>
    <table class='table table-hover table-inverse'>
      <thead>
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜き価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
          <tr>
            <td><%= item.id %></td>
            <td>
              <%= link_to admin_item_path(item) do %>
                <%= item.name %>
              <% end %>
            </td>
            <td> ¥<%= item.price.to_s(:delimited) %></td>
            <td><%= item.genre.name %></td>
            <td>
              <% if item.is_sales_status == true %>
    		        販売中
              <% else %>
                販売停止中
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="text-center">
      <%= paginate @items %>
    </div>
  </div>
</div>