<div class="row row-cols-4">
	<% items.each do |item| %>
	  <div class="col">
	    <div class="card mb-4">
	      <%= link_to item_path(item) do %>
	        <%= attachment_image_tag item, :image, :fill, 400,300, format:'jpeg', class: 'card-img-top' %>
	      <% end %>
  			<div class="card-body">
  			  <%= link_to item_path(item) do %>
	          <p class="card-title text-dark"><b><%= item.name %></b></p>
	        <% end %>
	        <p>￥<%= item.price.to_s(:delimited) %></p>
  			</div>
  		</div>
	  </div>
	<% end %>
</div>