<div class="container">
  <div class="row">
    <div class="col-lg-10 mt-5">
    	<h3><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</h3>
    	<%= form_with model: @customer, url: customer_registration_path, local:true do |f| %>
        <table class="table">
          <tbody>
          	<tr>
          		<td>会員ID</td>
          		<td><%= @customer.id %></td>
          	</tr>
          	<tr>
          		<td>氏名</td>
          		<td><%= f.text_field :last_name %>　<%= f.text_field :first_name %></td>
          	</tr>
          	<tr>
          		<td>フリガナ</td>
          		<td><%= f.text_field :last_name_kana %>　<%= f.text_field :first_name_kana %></td>
          	</tr>
          	<tr>
          		<td>郵便番号</td>
          		<td><%= f.text_field :postal_code %></td>
          	</tr>
          	<tr>
          		<td>住所</td>
          		<td><%= f.text_field :address %></td>
          	</tr>
          	<tr>
          		<td>電話番号</td>
          		<td><%= f.text_field :telephone_number %></td>
          	</tr>
          	<tr>
          		<td>メールアドレス</td>
          		<td><%= f.text_field :email %></td>
          	</tr>
          	<tr>
          		<td>会員ステータス</td>
          		<td>
          			<%= f.label :is_secede_frag, '有効', value: false %>
                <%= f.radio_button :is_secede_frag, 'false' %>
                <%= f.label :is_secede_frag, '　退会', value: true %>
                <%= f.radio_button :is_secede_frag, 'true' %>
              </td>
           	</tr>
           	<tr>
           		<td></td>
           		<td>
           			<%= f.submit '変更の保存', class: "btn btn-success btn-lg" %>
           		</td>
           	</tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>