<div class="container mt-5">
  <h3 class="row my-3 table-active">注文履歴詳細</h3>
  <table class="row table table-borderless">
      <tr>
        <th>購入者</th>
        <%= link_to do %>
          <td><%= @order.customer.last_name %> <%= @order.customer.first_name %></td>
        <% end %>
      </tr>
      <tr>
        <th>注文日</th>
        <td><%= @order.created_at.strftime('%Y/%m/%d %H:%M') %></td>
      </tr>
      <tr>
        <th>配送先</th>
        <td>〒<%= @order.postal_code%> <%= @order.address%><br>
        <%= @order.name %></td>
      </tr>
      <tr>
        <th>支払方法</th>
        <td><%= @order.payment%></td>
      </tr>
      <tr>
        <th>注文ステータス</th>
        <td>
          <%= form_with model: @order, url: admin_order_path, local: true do |f| %>
            <%= f.select :order_status,["入金待ち","入金確認","製作中","発送準備中","発送済み"], selected: @order.order_status %>
            <%= f.submit "更新", class: "btn btn-primary btn-sm" %>
          <% end %>
        </td>
      </tr>
    </table>
    <div class="row">
      <div class="col-10">
        <table class="table active">
          <thead class="col-10" >
            <tr>
              <th>商品名</th>
              <th>単価(税込)</th>
              <th>数量</th>
              <th>小計</th>
              <th>制作ステータス</th>
              <th></th>
            </tr>
          </thead>
          <tbody class="col-10">
            <% @order_items.each do |order_item| %>
              <tr>
                <td><%= Item.find(order_item.item_id).name %></td>
                <td><%= order_item.item.taxin_price.to_s(:delimited) %></td>
                <td><%= order_item.order_quantity %></td>
                <td><%= (Item.find(order_item.item_id).taxin_price)*(order_item.order_quantity) %></td>
                <td>
                  <%= form_with model: order_item, url: admin_order_item_path(order_item), local: true do |f| %>
                    <%= f.select :create_status,["着手不可","製作待ち","製作中","製作完了"], selected: order_item.create_status %>
                    <%= f.submit "更新", class: "btn btn-primary btn-sm" %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="clo-2">
        <table class="table-borderless d-flex align-items-end">
          <tr>
             <th>商品合計</th>
             <td><%= (@order.total_price-@order.postage).to_s(:delimited) %>円</td>
           </tr>
           <tr>
             <th>送料</th>
             <td><%= @order.postage %>円</td>
           </tr>
           <tr>
             <th>請求金額合計</th>
             <td><%= @order.total_price.to_s(:delimited) %>円</td>
           </tr>
         </table>
        </div>
      </div>
    </div>
  </div>
</div>
