<div class="container">
  <div class="row">
    <h2 class="col-4 text-center table-active">ジャンル一覧・追加仮</h2>
  </div>
  <!--ジャンル追加フォーム-->
  <div class="col-7">
    <div class="form-group">
    <%= form_with model: @genre, url:admin_genres_path, local:true, class: "row my-5 form-inline mx-auto" do |f| %>
      <strong class="col-3"><%= f.label :name, "ジャンル名" %></strong>
      <%= f.text_field :name, placeholder: "ジャンル名", class: "form-control col-4 offset-1" %>
      <%= f.submit "新規登録", class: "btn btn-success col-3 offset-1" %>
    <% end %>
    </div>
  <!--ジャンル一覧テーブル-->
    <div class="col-8">
    <table class="table table-hover row">
      <thead class="col-12">
        <tr class="row">
          <th colspan=2 class="table-active col-12">ジャンル</th>
        </tr>
      </thead>
      <tbody class="col-12">
        <% @genres.each do |genre| %>
        <tr class="row">
          <td class="col-8"><%= genre.name %></td>
          <td class="col-4"><%= link_to "編集する", edit_admin_genre_path(genre.id), class: "btn btn-success" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>