<div class="container">
  <div class="row">
    <h2 class="col-8 table-active">ショッピングカート仮</h2>
    <p class="col-4 btn btn-danger"><%= "カートを空にするボタン設置予定" %></p>
  </div>
  <!--カート内テーブル一覧-->
  <table class="row">
    <thead class="col-12">
      <tr class="row table-active">
        <th class="col-4">商品名</th>
        <th class="col-2">単価(税込)</th>
        <th class="col-2">数量</th>
        <th class="col-2">小計</th>
        <th class="col-2"></th>
      </tr>
    </thead>
    <tbody class="col-12">
      <% @cart_items.each do |cart| %>
      <tr class="row">
        <td class="col-4"><%= cart.name %></td>
        <td class="col-2"><%= cart.price %></td>
        <td class="col-2"><%= cart.cart_items.quantity %></td>
        <td class="col-2">小計予定</td>
        <td class="col-2 btn btn-danger">個別削除ボタン予定</td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <!--買い物を続ける・合計金額-->
  <div class="row">
    <p class="col-8  btn btn-primary"><%= "買い物を続けるボタン予定" %></p>
    <div class="col-4">
    <table class="row">
      <tbody class="col-12">
        <tr class="row">
          <td class="col-6 table-active">合計金額</th>
          <td class="col-6">合計金額計算結果</td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
  <!--情報入力ページへの遷移-->
  <div class="row">
    <p class="col-3 mx-auto text-center btn btn-success">情報入力画面に進む</p>
  </div>
</div>