<div class="container">
  <div class="row">
    <h2 class="col-3 my-3 text-center table-active">注文履歴詳細</h2>
  </div>
  <div class="row">
    <div class="col-8">
      <h3>注文情報</h3>
      <table class="row table table-bordered">
        <tbody class="col-12">
          <tr class="row">
            <td class="col-3 table-active border-dark">注文日</td>
            <td class="col-9 border-left-0 border-dark"><%= @order.created_at.strftime("%Y/%m/%d") %></td>
          </tr>
          <tr class="row">
            <td class="col-3 table-active border-top-0 border-dark">配送先</td>
            <td class="col-9 border-left-0 border-top-0 border-dark">
              <%= "〒#{@order.postal_code}" %></br>
    					<%= @order.address %></br>
    					<%= @order.name %></br>
            </td>
          </tr>
          <tr class="row">
            <td class="col-3 table-active border-top-0 border-dark">支払い方法</td>
            <td class="col-9 border-left-0 border-top-0 border-dark"><%= @order.payment %></td>
          </tr>
          <tr class="row">
            <td class="col-3 table-active border-top-0 border-dark">ステータス</td>
            <td class="col-9 border-left-0 border-top-0 border-dark"><%= @order.order_status %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <h3>請求情報</h3>
      <table class="row table table-bordered">
        <tbody class="col-12">
          <tr class="row">
            <td class="col-6 table-active border-dark">商品合計</td>
            <td class="col-6 border-left-0 border-dark"><%= @order.total_price-@order.postage %></td>
          </tr>
          <tr class="row">
            <td class="col-6 table-active border-top-0 border-dark">配送料</td>
            <td class="col-6 border-left-0 border-top-0 border-dark"><%= @order.postage %></td>
          </tr>
          <tr class="row">
            <td class="col-6 table-active border-top-0 border-dark"><strong>ご請求額</strong></td>
            <td class="col-6 border-left-0 border-top-0 border-dark"><%= @order.total_price %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-10">
      <h3>注文内容</h3>
      <table class="row table table-bordered">
        <tbody class="col-12">
          <tr class="row">
            <td class="col-8 table-active border-dark">商品</td>
            <td class="col-2 table-active border-left-0 border-dark">単価 (税込)</td>
            <td class="col-1 table-active border-left-0 border-dark">個数</td>
            <td class="col-1 table-active border-left-0 border-dark">小計</td>
          </tr>
          <% @order_items.each do |order_item| %>
          <tr class="row">
            <td class="col-8 border-top-0 border-dark"><%= Item.find(order_item.item_id).name %></td>
            <td class="col-2 border-left-0 border-top-0 border-dark"><%= order_item.price %></td>
            <td class="col-1 border-left-0 border-top-0 border-dark"><%= order_item.order_quantity %></td>
            <td class="col-1 border-left-0 border-top-0 border-dark"><%= (Item.find(order_item.item_id).taxin_price)*(order_item.order_quantity) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
