<div class="container">
  <div class="row">
    <div class="col-xs-2">
      <%= attachment_image_tag @item, :image, :fill, 200, 200, format: 'jpeg'%>
    </div>
    <div class="col-xs-8">
      <p><%= @item.name %>()</p>
      <p><%= @item.introduction %></p>
      <p></p>
      <p>¥<%= @item.price.to_s(:delimited) %>(税込)</p>

        <%= form_with model: @cart_item, url: 'cart_items_path', method: :post, local: true do |f| %>
            <%= f.number_field :quantity, min: 1, class: "pur-number" %>
            <%= hidden_field_tag :item_id, @item.id %>
            <%= f.submit "カートに入れる", class: "cart-button" %>
          <% end %>
    </div>
  </div>
</div>