<div class="container">
  <%= render "layouts/errors", error_lists: @cart_item %>
  <div class="row mt-5">
    <%= render 'public/homes/genres_search', genres: @genres %>
    <div class="col-4">
      <%= attachment_image_tag @item, :image, :fill, 300, 300, format: 'jpeg', class: 'img-fluid' %>
    </div>
    <div class="col-5 ">
      <h2 class="row"><b><%= @item.name %></b></h2>
      <h5 class="row"><%= @item.introduction %></h5>
      <div class="row mt-5"><h3 class="col-12">¥<%= @item.taxin_price.to_s(:delimited) %> <span class="h6">(税込)</span></h3></div>
      <div class="row mt-4">
        <% if customer_signed_in? %>
          <% unless current_customer.cart_items.exists?(item_id: @item) %>
          <div class="col-12">
            <%= form_with model: @cart_item, url:cart_items_path, local: true, class: "row form-inline mx-auto" do |f| %>
              <%= f.select :quantity, (1..10), prompt: "個数選択" %>
              <%= f.hidden_field :item_id, :value => @item.id %>
              <%= f.submit "カートに入れる", class: "btn btn-success ml-5" %>
            <% end %>
          </div>
          <% else %>
          <%= link_to "カートから出す", cart_item_path(CartItem.find_by(customer_id: current_customer.id, item_id: @item)), method: :delete, class: "btn btn-danger" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>